<header class="app-header">
  <div class="header-top-area d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-6 d-flex align-items-center">
          <div class="header-info">
            <span><i class="far fa-map-marker-alt"> </i>Kushbegi 8, Yakkasaroy dist, Tashkent, Uzbekistan 100100</span>
            <span class="header-ph"><i class="far fa-phone"> </i> (+998) 71 200 80 04</span>
            <span class="header-en"><i class="far fa-envelope-open"></i> info@toefl-test.uz</span>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="header-right f-right ">
            <div class="header-icon f-right">
              <a href="/login" *ngIf="!isLoggedIn"><i class="fas fa-sign-in-alt"></i>Log in</a>
              <a href="/profile" *ngIf="isLoggedIn"><i class="fa fa-user pr-2" aria-hidden="true"></i>Profile</a>
              <a href="/admin" *ngIf="isAdmin"><i class="fa fa-universal-access pr-2" aria-hidden="true"></i>Admin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="pl-1" src="assets/img/logo/logo_toefl.svg" alt="" width="150px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto  pl-2 pt-2">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Tests
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/toefl-itp">TOEFL ITP</a>
              <a class="dropdown-item" href="/toefl-ibt">TOEFL iBT</a>
              <a class="dropdown-item" href="/our-tests/gre">GRE</a>
              <a class="dropdown-item" href="/toeic">TOEIC</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/preparation">Prepare</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownResources">
              <a class="dropdown-item" href="/resources/test-materials">Test Materials</a>
              <a class="dropdown-item" href="/resources/mock-test">Mock Test</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPartners" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partners
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownPartners">
              <a class="dropdown-item" href="/partners/ets-global">ETS Global</a>
              <a class="dropdown-item" href="/partners/universities">Universities</a>
              <a class="dropdown-item" href="/partners/learning-centers">Learning Centers</a>
              <a class="dropdown-item" href="/partners/educational-organisations">Educational Organisations</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
      </div>
  </nav>
</header>
