.gre {
    pointer-events:none;
    opacity:0.6;
}

@media (max-width: 990px) {
  .navbar-nav .dropdown-item,
  .navbar-nav .nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    //background-color: #f8f9fa; /* Light gray background */
    //border: 1px solid #ddd; /* Light gray border */
    border-radius: 4px;
    cursor: pointer;
  }
}
