<header>
  <div class="header-top-area grey-bg d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-6 d-flex align-items-center">
          <div class="header-info">
            <span><i class="far fa-map-marker-alt"> </i> 8 Kushbegi Street, Yakkasaroy dist, Tashkent, Uzbekistan 100100</span>
            <span class="header-ph"><i class="far fa-phone"> </i> (+998) 71 200 80 04</span>
            <span class="header-en"><i class="far fa-envelope-open"></i> info@toefl-test.uz</span>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="header-right f-right ">
            <div class="header-icon f-right">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sticky-header" class="main-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 d-flex align-items-center">
          <div class="logo">
            <a routerLink="/"><img src="assets/img/logo/logo_toefl.svg" alt="" width="150px"/></a>
          </div>

        </div>
        <div class="col-xl-9 col-lg-9">
          <div class="header-button f-right d-none d-lg-block">
            <a class="btn btn-primary" *ngIf="isLoggedIn" (click)="logOut()"><span class="btn-text">Log Out <i class="far fa-long-arrow-right"></i></span> </a>
<!--            <a class="btn" routerLink="login"><span class="btn-text">Register <i class="far fa-long-arrow-right"></i></span> </a>-->
          </div>
          <div class="main-menu text-right">
            <nav id="mobile-menu">
              <ul>
                <li><a href="/">home</a>
                <li><a routerLink="/account-list">Applicants</a>

                </li>
                <li><a routerLink="about-us">About</a></li>
                <li><a routerLink="preparation">Preparation</a></li>
<!--                <li><a href="it-services.html">Services</a>-->
<!--                  <ul class="sub-menu text-left">-->
<!--                    <li><a href="it-services.html">Services</a>-->
<!--                    <li><a href="services-02.html">services 02</a></li>-->
<!--                    <li><a href="services-03.html">services-03</a></li>-->
<!--                    <li><a href="it-management.html">it management</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li><a href="blog.html">blog</a>-->
<!--                  <ul class="sub-menu text-left">-->
<!--                    <li><a href="blog.html">blog</a></li>-->
<!--                    <li><a href="blog-3-col.html">blog 3 col</a></li>-->
<!--                    <li><a href="blog-left-sidebar.html">blog left sidebar</a></li>-->
<!--                    <li><a href="blog-details.html">blog details</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li><a href="#">pages</a>-->
<!--                  <ul class="sub-menu text-left">-->
<!--                    <li><a href="case-study.html">case study</a></li>-->
<!--                    <li><a href="case-study-02.html">case study 02</a></li>-->
<!--                    <li><a href="case-carousel.html">case carousel</a></li>-->
<!--                    <li><a href="case-details.html">case details</a></li>-->
<!--                    <li><a href="career.html">career</a></li>-->
<!--                    <li><a href="faq.html">faq</a></li>-->
<!--                    <li><a href="goals.html">goals</a></li>-->
<!--                    <li><a href="pricing.html">pricing</a></li>-->
<!--                    <li><a href="shop.html">shop</a></li>-->
<!--                    <li><a href="product-details.html">product details</a></li>-->
<!--                    <li><a href="team.html">team</a></li>-->
<!--                    <li><a href="single-team.html">single team</a></li>-->
<!--                    <li><a href="contact.html">contact</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
                <li><a routerLink="contact">contact</a></li>

                <li><a routerLink="/register">Register</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-12">
          <div class="mobile-menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
