.content-wrapper {
    min-height: 600px;
    background-image: url("/assets/img/bg/pngegg.png");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: center;
}

.wrapper {
    width: 80%;
    margin: auto;
    font-family: "Gill Sans", sans-serif;
    font-size: large;
}