<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="assets/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<!-- Page preloader-->
<!--<div class="page-loader">-->
<!--  <div class="preloader-inner">-->
<!--    <svg class="preloader-svg" width="200" height="200" viewbox="0 0 100 100">-->
<!--      <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>-->
<!--      <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>-->
<!--      <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>-->
<!--      <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>-->
<!--    </svg>-->
<!--  </div>-->
<!--</div>-->
<div class="page">
  <app-header *ngIf="isLoggedIn"></app-header>
  <router-outlet></router-outlet>
  <app-footer *ngIf="isLoggedIn"></app-footer>
</div>
