<div class="section page-header breadcrumbs-custom-wrap bg-image bg-image-9">
  <!-- Breadcrumbs-->
  <section class="breadcrumbs-custom breadcrumbs-custom-svg">
    <div class="container">
      <p class="breadcrumbs-custom-subtitle">Our team</p>
      <p class="heading-1 breadcrumbs-custom-title">Teachers</p>
      <ul class="breadcrumbs-custom-path">
        <li><a routerLink="/">Home</a></li>
        <li class="active">Teachers</li>
      </ul>
    </div>
  </section>

</div>

<!-- Team-->
<section class="section section-lg novi-bg novi-bg-img bg-default">
  <div class="container">
    <div class="row row-40 row-lg-50">
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/home-10-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Theresa Webb</a></h6>
          <div class="team-default-meta small">Web design instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/home-11-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Jenny Wilson</a></h6>
          <div class="team-default-meta small">Web development instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/home-12-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Jacob Jones</a></h6>
          <div class="team-default-meta small">Cybersecurity &amp; IT instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/home-13-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Bessie Cooper</a></h6>
          <div class="team-default-meta small">PM &amp; business instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/team-05-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Michael Johnson</a></h6>
          <div class="team-default-meta small">Programming Instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/team-06-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Emma Adams</a></h6>
          <div class="team-default-meta small">Marketing &amp; PR Instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/team-07-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher">Jack Peters</a></h6>
          <div class="team-default-meta small">Architecture Instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="team-default box-width-3">
          <div class="team-default-media"><img class="team-default-img" src="assets/images/team-08-260x345.jpg" alt="" width="260" height="345" loading="lazy"/>
          </div>
          <h6 class="team-default-title"><a href="single-teacher.html">Jane Lee</a></h6>
          <div class="team-default-meta small">Art Instructor</div>
          <div class="team-default-social"><a class="team-default-icon icon-custom-facebook" href="#"></a><a class="team-default-icon icon-custom-linkedin" href="#"></a><a class="team-default-icon icon-custom-instagram" href="#"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
