<app-table
  *ngIf="accounts.length>0 && !isLoading"
  [items]="accounts"
  [itemType]="{
    permissions: {
      type: 'select',
      list: [
        'ADMIN',
        'USER'
      ]
    }
  }"
  [tableName]="'Accounts'"
  [additionalActionName]="'Show Registered Exams'"
  (additionalAction)="openMoreActions($event)"
  (updateItems)="updateAccounts()"
>
</app-table>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<ng-template #moreActions let-modal>
  <div class="modal-header">
    <h4 class="modal-title">More actions</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <mat-spinner *ngIf="isExamsLoading"></mat-spinner>
    <div *ngIf="!isExamsLoading">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>exam_id</th>
            <th>date</th>
            <th>Description</th>
            <th>Reading</th>
            <th>Writing</th>
            <th>Listening</th>
            <th>Speaking</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exam of exams">
            <td>{{exam.exam_id}}</td>
            <td>{{exam.date}}</td>
            <td>{{exam.description}}</td>
            <td>
              <span *ngIf="exam.reading">{{exam.reading}}</span>
              <span *ngIf="!exam.reading">Not Set</span>
            </td>
            <td>
              <span *ngIf="exam.writing">{{exam.writing}}</span>
              <span *ngIf="!exam.writing">Not Set</span>
            </td>
            <td>
              <span *ngIf="exam.listening">{{exam.listening}}</span>
              <span *ngIf="!exam.listening">Not Set</span>
            </td>
            <td>
              <span *ngIf="exam.speaking">{{exam.speaking}}</span>
              <span *ngIf="!exam.speaking">Not Set</span>
            </td>
            <td>
              <button type="button" class="btn btn-link" (click)="openEditScore(exam)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>

<ng-template #editScore let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Score</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label for="reading">Reading</label>
      <input id="reading" class="form-control" [(ngModel)]="selectedExam['reading']">

      <label for="writing">Writing</label>
      <input id="writing" class="form-control" [(ngModel)]="selectedExam['writing']">

      <label for="listening">Listening</label>
      <input id="listening" class="form-control" [(ngModel)]="selectedExam['listening']">

      <label for="speaking">Speaking</label>
      <input id="speaking" class="form-control" [(ngModel)]="selectedExam['speaking']">

      <label for="payment">Payment status</label>
      <select id="payment" class="form-control" aria-label="Default select example" name="payment" [(ngModel)]="selectedExam['payment']">
        <option [ngValue]="false">Not Paid</option>
        <option [ngValue]="true">Paid</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-success" (click)="updateScores();modal.dismiss('Cross click');">Save</button>
  </div>
</ng-template>
