.subtitle{
  margin: 15px auto;
  max-width: 70%;
  text-align: center;
  padding: 0 30px;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.bgimg1{
  background-image: url('/assets/img/photo1698580124.jpg');
  //opacity: 0.75;
}
