.subtitle{
  margin: 15px auto;
  max-width: 70%;
  text-align: center;
  padding: 0 30px;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.bgimg1{
  background-image: url('/assets/img/course-section.jpeg');
  //opacity: 0.75;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-indicators div {
  width: 10px;
  height: 10px;
  margin: 1em 0.5em;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators div.active {
  background-color: #337ab7;
}

.carousel-caption2 {
  text-align: left; /* Align text to the left */
  padding-left: 20vw; /* Add padding to the left */
}

.carousel-caption {
  position:absolute;
  bottom:20%;
  left:20%;
  z-index:10;
  //padding-top:20p;
  //padding-bottom:20px;
  color:#fff;
  text-align:left;
  max-width: 60%;
}

.bigFont{
  font-size: 60px;
  line-height: 60px;
}

h1.banner-title,
p.sub-title {
  display: inline;
}

.carousel-caption .secondary-title {
  font-size: 25px;
}

.blank {
  min-height: 30px;
}

.blank-large {
  min-height: 100px;
}

.about-1-img img {
  margin-top: -30px;
  height: 100px;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  .bigFont{
    font-size: 42px;
    line-height: 42px;
  }
}

.agency {
  letter-spacing: 2px;
    background: #096bd8;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.course-message > span {
  color: white;
  font-family: "cerebri_sansbold";
  font-size: 14px;
  text-transform: uppercase;
}

a.btn {
  background: #096bd8;
  border: medium none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
  padding: 20px 40px;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 5px;
  position: relative;
  font-family: "cerebri_sansbold";
}

.about-area {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
}

.about-2-img > img{
  width: 498px;
  height: 503px;
}