.subtitle{
  margin: 15px auto;
  max-width: 70%;
  text-align: center;
  padding: 0 30px;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.bgimg1{
  background-image: url('/assets/img/photo1698580124.jpg');
  //opacity: 0.75;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-indicators div {
  width: 10px;
  height: 10px;
  margin: 1em 0.5em;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators div.active {
  background-color: #337ab7;
}

.carousel-caption2 {
  text-align: left; /* Align text to the left */
  padding-left: 20vw; /* Add padding to the left */
}

.carousel-caption{
  position:absolute;
  bottom:30%;
  left:20%;
  z-index:10;
  //padding-top:20p;
  //padding-bottom:20px;
  color:#fff;
  text-align:left;
  max-width: 60%;
}

.bigFont{
  font-size: 70px;
  line-height: 70px;
}

h1.banner-title,
p.sub-title {
  display: inline;
}

.blank {
  min-height: 30px;
}

.blank-large {
  min-height: 100px;
}

.about-1-img img {
  margin-top: -30px;
  height: 100px;
}