<footer>
  <div class="footer-area grey-bg pt-80 pb-30">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4">
          <div class="footer-wrapper mb-30">
            <div class="footer-logo">
              <a href="/"><img src="assets/img/logo/logo_toefl.svg" alt="" width="150px"></a>
            </div>
            <div class="footer-text">
              <p>Follow us on Social Media</p>
            </div>
            <div class="footer-icon">
              <a href="https://www.facebook.com/profile.php?id=61552754394215"><i class="fab fa-facebook-f"></i></a>
              <a href="https://t.me/toefl_test"><i class="fab fa-telegram-plane"></i></a>
              <a href="https://www.instagram.com/toefl_uzbekistan/"><i class="fab fa-instagram"></i></a>
              <a href="www.youtube.com/@TOEFL_UZ"><i class="fab fa-youtube"></i></a>
              <a href="https://www.linkedin.com/in/toefl-test-center-uzbekistan-6ba30a2b0/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-wrapper mb-30">
            <h4 class="footer-title">Contact Us</h4>
            <ul class="contact-link">
              <li>
                <div class="contact-address-icon">
                  <i class="far fa-phone"></i>
                </div>
                <div class="contact-address-text">
                  <h4>(+998)-71-200-80-04</h4>
                </div>
              </li>
              <li>
                <div class="contact-address-icon">
                  <i class="far fa-envelope-open"></i>
                </div>
                <div class="contact-address-text">
                  <h4>info@toefl-test.uz</h4>
                </div>
              </li>
              <li>
                <div class="contact-address-icon">
                  <i class="far fa-map-marker-alt"></i>
                </div>
                <div class="contact-address-text">
                  <h4>8 Kushbegi Street, Yakkasaroy dist, Tashkent, Uzbekistan 100100</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4">
          <div class="footer-wrapper mb-30">
            <h4 class="footer-title">Useful links</h4>
            <ul class="fotter-menu">
              <li><a href="https://www.ets.org/toefl/itp/about.html">TOEFL ITP</a></li>
              <li><a href="https://www.ets.org/toefl/test-takers/ibt/about.html">TOEFL iBT</a></li>
              <li><a href="https://www.ets.org/toeic/test-takers.html">TOEIC</a></li>
              <li><a href="https://www.ets.org/gre/test-takers/subject-tests/about.html">GRE</a></li>
              <li><a href="https://www.ets.org/praxis/site/test-takers/resources/about.html">PRAXIS</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4">
          <div class="footer-wrapper mb-30">
            <h4 class="footer-title">Quick Links</h4>
            <ul class="fotter-menu">
              <li><a href="https://lex.uz/docs/-5426736">Decree PQ-5117</a></li>
              <li><a href="https://lex.uz/docs/-5615817#-5616150">Decree 312</a></li>
              <li><a href="https://lex.uz/docs/4332249">Decree 395</a></li>
              <li><a href="https://lex.uz/docs/-5370812">Decree 209</a></li>
              <li><a href="https://teletype.in/@huquqiy_axborot/5rzK9Zz5scW">PF-134</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-wrapper mb-30">
            <h4 class="footer-title">Recent News</h4>
            <div class="footer-news">
              <ul>
                <li>
                  <div class="footer-news-img">
                    <a href="#"><img src="assets/img/footer/01.jpg" alt=""></a>
                  </div>
                  <div class="footer-news-text">
                    <h5><a href="#">Building Real Time Charts With Grap HQL & Postgres</a></h5>
                  </div>
                </li>
                <li>
                  <div class="footer-news-img">
                    <a href="#"><img src="assets/img/footer/02.jpg" alt=""></a>
                  </div>
                  <div class="footer-news-text">
                    <h5><a href="#">How To Build An Endless Runner Or Virtual Reality</a></h5>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="footer-bottom-area pt-50">
      <div class="container">
        <div class="footer-bg-bottom">
          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
              <div class="copyright">
                <p><i class="far fa-copyright"></i> Copyright 2024 TTC. All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
