/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
//@import "angular-notifier/styles.scss";
label{
  margin-bottom: 0 !important;
}

.btn::before {
  display: none !important;
}

.max-width-80{
  max-width: 80px !important;
}

.margin-auto{
  margin: auto;
}
