<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="services-area">
            <div class="services-div">
                <img class="services-image" src="assets/img/team/student-1.jpg" alt="Agile transformation image.">
            </div>
            <div class="services-text">
                <blockquote class="quote-card">
                    <p>
                        I am absolutely thrilled to share some incredible news with all of you! I recently achieved the TOEFL ITP Gold C1-level certificate, which has been an absolute game-changer. Not only did this certification bring a massive boost to my salary, but it also allowed me to improve my teaching methods and stay in my dream job. I cannot even begin to express how grateful I am for this opportunity, and I am beyond excited to bring even more enthusiasm and knowledge to our classroom.
                    </p>
                
                    <cite><span>Mariam</span><br>
                        English Language Teacher
                    </cite>
                </blockquote>
            </div>
        </div>
        
      </div>
      <div class="carousel-item">
        <div class="services-area">
            <div class="services-div">
                <img class="services-image" src="assets/img/team/student-2.png" alt="Agile transformation image.">
            </div>
            <div class="services-text">
                <blockquote class="quote-card">
                    <p>
                        Because of my hard work and dedication, I recently obtained my Certificate of Achievement from TOEFL ITP. This certificate has opened up a world of opportunities, including the chance to pursue my PhD and become a researcher in my chosen field. Can you believe it? I am beyond excited! This achievement means that I can continue my research, contribute to the development of my career, and even make a positive impact on the education system of my country. It's truly a dream come true! So, if you're looking for a pathway to academic success and career advancement, I highly recommend you consider the TOEFL ITP testing program.
                    </p>
                
                    <cite><span>Aziz</span><br>
                        PhD student
                    </cite>
                </blockquote>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="services-area">
            <div class="services-div">
                <img class="services-image" src="assets/img/team/student-3.png" alt="Agile transformation image.">
            </div>
            <div class="services-text">
                <blockquote class="quote-card">
                    <p>
                        Thanks to my TOEFL ITP Silver B2-level certificate from ETS, I was able to enter my dream university for my Master's degree. This certificate has been transformative for me, providing an affordable, fast, and effective way to prepare for my language goals. If you're looking to enter your dream university, I highly recommend TOEFL ITP. It's the best solution out there, and it has made all the difference in my university admission journey.
                    </p>
                
                    <cite><span>Madina</span><br>
                        Master’s student
                    </cite>
                </blockquote>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>